<head>

</head>
<div class="whole_scopecontainer">
    <div id="scopeview">
        <!-- <p>스코프를 선택하세요</p> -->
        <div id="accountselect"><select class="select" id="sel_scopeaccount">
                <option value="" disabled selected>account를 선택하세요</option>
            </select>
        </div>

        <div id="sitesselect">
        </div>
        <div id="groupselect">
        </div>
        <div class="scopes">
            <div class="acc">
                <p></p>
            </div>
        </div>
    </div>
    <div id="buttonview">
        <button id="sel_scope">선택</button>
        <button id="edit">수정</button>
    </div>
</div>
<script src="../javascripts/scopeScript.js"></script>