body {
    background-color: rgba(221, 221, 221, 0.418);
}

.wrapdiv {
    grid-gap: 3px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.innerView{
    display: inline-block;
    border: 1px solid;
    border-color: black;
    border-radius: 3px;
    box-shadow: 3px 2px 7px rgba(180, 180, 180, 0.678);
    background-color: white;
    margin:2px;
}
#wholeWrap {
    min-height: 400px;
    min-width: 600px;
    max-height: 100%;
    max-width: 100%;
    grid-gap: 10px;
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: aqua;
}

#top {
    background-color: red;
}

#middle {
    display: grid;
    grid-template-columns: 20% 80%;
    /* background-color: yellow; */
}

#treeView {
    margin-right: 3px;
}

#contView {
    margin-left:3px;
}
#jstree li{
    font-size: 10pt;
}
.maindiv {
    display: inline-block;
    /* float:left; */
    margin: auto;
    width: 100%;
    position: relative;
    margin-right: 5px;
    margin-bottom: 100px;
    vertical-align: top;
    border: 1px solid;
    border-color: black;
}